*{
  padding: 0;
  margin: 0;


}

:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --color-font:#009dff;
}

body{
    font-family: var(--body-font);
      overflow-x: hidden;


}


.header{
  background: white;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  position: fixed;
   box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
   grid-auto-rows: 100%;
   margin-left: auto;
   margin-right: auto;


}

.atribucion a{
  color: white;
  font-weight: bold;
  text-decoration: none;

}

.header__logo img{
  position: relative;
  height: 100%;
  object-fit: fill;
left: -20%;

}

.header__logo{
  display: flex;
  justify-content: flex-end;


}


.header__nav{
  display: flex;
  justify-content: flex-start;


}

.li__nav{
  padding: 10px;
  list-style: none;


}

.header__a{
  color: black;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.initial_section{
  position: relative;
  top: 200px;
  text-align: center;
  font-size: var(--big-font-size);
  color: #009dff;
  font-weight: 600;

}

.title__home{
  height: 500px;
  width: 100%;
}

.section{
  width: 100%;
    height: auto;
    grid-gap: 10px;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
}

.section__informacion{

  width: 100%;
  position: relative;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.section__title{
  grid-column-start: 1;
  grid-column-end: -1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;



}


.section__informacion_2{
  width: 100%;
  position: relative;
  height:500px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  margin-bottom: 200px;
}

.imagen_2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen_2 img{
  max-width: 500px;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: fill;

}

.title_section_2{
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.subtitle_section_2{
  opacity: .5;

}
.boton_planes{
  width: 100px;
  height: 50px;
  position: relative;
  margin-top: 10px;
  background-color: var(--color-font);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  top: 20px;




}

.subtitle_section_2{

}

.section__title p{
  margin-top: 20px;
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 30px;


}



.informacion{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;


}
.content_information{
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 350px;
box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
  transition: transform 1s;
  transition: color 1s;
  transition: background-color 1s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content_information_2{
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 350px;
box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
  transition:  transform 1s;
  transition: color 1s;
  transition: background-color 1s;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.content_information:hover{
  color: white;
  background-color: var(--color-font);

}

.content_information_2:hover{
  transform: translateY(-10px);

}


.content_information:hover{
  transform: translateY(-10px);



}


.footer{
  margin-top: 120px;
  width: 100%;
  height: 400px;
  background: black;
  display: grid;
  grid-template-columns: 50% 50%;

}

.footer_nav{

  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_li{
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer__a{
text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px;
}


.boton_modal_1{

  cursor: pointer;
}

.modal{
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  z-index: -10;
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_2{
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  z-index: -10;
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_3{
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  z-index: -10;
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information_modal{
  padding: 10px;
}

.informacion_modal_dinero{
  color: green;
}

.title_modal{
  font-size: 1.9rem;
  font-weight: bold;
  padding: 5px;
  text-align: center;

}

.modal.active{
  z-index: 20;
  opacity: 1;


}

.modal_2.active{
  z-index: 20;
  opacity: 1;


}

.modal_3.active{
  z-index: 20;
  opacity: 1;


}

.content_options{
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-auto-rows: 100%;
  height: 250px;
}


.content_modal{
  width: 80%;
  max-width: 550px;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.boton_cerrar_modal{
  width: 100px;
  height: 50px;
  background: var(--color-font);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-left: 10px;
  margin-top: 40px;
}

.boton_cerrar_modal_2{
  width: 100px;
  height: 50px;
  background: var(--color-font);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-left: 10px;
}

.boton_cerrar_modal_3{
  width: 100px;
  height: 50px;
  margin-top: 40px;
  background: var(--color-font);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-left: 10px;
}

.content_boton_modal_cerrar{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;


}

.header__button_responsive{
  position: relative;
  width: 100%;
  height: 100%;
  display: none;


}

.header__button_responsive img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 30px;
}

.boton_close_responsive{
  display: none;

}

.footer .logo{
  display: flex;
  justify-content: center;
  align-items: center;


}

.atribucion{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width:768px){
  .header__logo img{

    left: 10%;

  }

  .content_information_2 img{
    width: 130px;
    height: 110px;
    object-fit: fill;
  }

  .boton_close_responsive{
    position: absolute;
    top: 5%;
    left: 90%;
    background: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
  }

  .modal.active{
    z-index: 20;
  }

  .modal{
    height: 100%;
  }

  .header__button_responsive{
    display: block;
    cursor: pointer;
  }

  .section__informacion{
    grid-template-columns:repeat(2 , 1fr);
    grid-template-rows:auto;
  }


  .header__nav{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 100%;
    transition: left 1s;
  }

  .imagen_2 img{
    max-width: 450px;

    max-height: 70%;


  }

.section__informacion_2{
  grid-template-columns: 100%;
  grid-template-rows:auto;
}


.informacion{
  width: 100%;
  height: 100%;


}

.subtitle_section_2{

  text-align: center;
}

.section__informacion{

  grid-template-columns: 100%;

}

.content_information{
  width: 70%;
  height: 250px;


}

.content_information_2{
  width: 70%;
  height: 250px;


}
.atribucion{

  display: flex;
}
}
@media screen and (max-width:425px){


  .imagen_2 img{
    max-width: 200px;
    max-height: 60%;


  }

.section__informacion_2{
  grid-template-columns: 100%;
  grid-template-rows:auto;
}


.informacion{
  width: 100%;
  height: 100%;


}

.subtitle_section_2{

  text-align: center;
}

.section__informacion{

  grid-template-columns: 100%;

}

.content_information{
  width: 70%;
  height: 250px;


}



.modal_2 .content_modal .title_modal{
  font-size: 1.5rem;


}

.modal_2 .content_modal .information_modal{
  font-size: 0.7rem;
  text-align: center;

}

.footer{
  grid-template-columns: 100%;


}

.atribucion{

  display: flex;
}




}
